<div class="form-group">
  <div class="field">
    <label for="managerName">El nombre del gerente</label>
    <span class="p-input-icon-left" style="width: 100%; display: flex; align-items: center;">
      <i class="pi pi-user"></i>  <!-- Ícono de usuario -->
      <input pInputText id="managerName" type="text"  />
    </span>
  </div>

  <div class="field">
    <label for="managerEmail">Correo electrónico del gerente</label>
    <span class="p-input-icon-left" style="width: 100%; display: flex; align-items: center;">
      <i class="pi pi-envelope" ></i>  <!-- Ícono de correo electrónico -->
      <input pInputText id="managerEmail" type="email"/>
    </span>
  </div>
</div>
