<div class="form-group">
  <div class="form-row">
    <!-- Campo Primer Nombre con ícono de búsqueda -->
    <div class="field">
      <label for="firstName">Primer nombre</label>
      <span > <!-- Ícono de usuario -->
        <input pInputText id="firstName" type="text" placeholder="Primer nombre"  />
      </span>
    </div>

    <!-- Campo Apellido con ícono de apellido -->
    <div class="field">
      <label for="lastName">Apellido</label>
      <span >  <!-- Ícono de usuario -->
        <input pInputText id="lastName" type="text" placeholder="Apellido" />
      </span>
    </div>
  </div>

  <!-- Campo Correo Electrónico con ícono de correo -->
  <div class="field">
    <label for="email">Correo electrónico</label>
    <span class="p-input-icon-left">
      <i class="pi pi-envelope"></i>  <!-- Ícono de correo electrónico -->
      <input pInputText id="email" type="email"  />
    </span>
  </div>

  <!-- Campo Teléfono con ícono de teléfono -->
  <div class="field">
    <label for="phone">Teléfono</label>
    <span class="p-input-icon-left">
      <i class="pi pi-phone"></i>  <!-- Ícono de teléfono -->
      <input pInputText id="phone" type="tel"  />
    </span>
  </div>
</div>
