.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input{
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6) ; 
    opacity: 1; 
}

