<div class="form-group">
  <div class="field">
    <label for="startDate">Fecha de inicio</label><br>
    <span class="p-input-icon-left">
      <i class="pi pi-calendar"></i>  <!-- Ícono de calendario -->
      <p-calendar id="startDate" dateFormat="mm/dd/yy" placeholder="MM/DD/YY"></p-calendar>
    </span>
  </div>
  <div class="field">
    <label for="endDate">Fecha de finalización</label><br>
    <span class="p-input-icon-left">
      <i class="pi pi-calendar"></i>  <!-- Ícono de calendario -->
      <p-calendar id="endDate" dateFormat="mm/dd/yy" placeholder="MM/DD/YY"></p-calendar>
    </span>
  </div>
  <div class="field">
    <label for="notes">Notas</label><br>
    <span class="p-input-icon-left">
      <i class="pi pi-comment"></i>  <!-- Ícono de notas -->
      <textarea pInputTextarea id="notes" rows="4" ></textarea>
    </span>
  </div>
</div>
