<form class="formulario">
    <p-card header="Login" [style]="{width: '360px'}">
      <div>
        <label for="username">Email</label>
        <br>
        <input type="text" id="Email" placeholder="Type your Email" />
      </div>
      <div>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" placeholder="Type your Password" />
      </div>
      <br>
      <p-button class="but" label="SIGN IN" iconPos="right"></p-button>
      <br>
      <br>
      <label>Not a member?</label>
      <label (click)="redirectToRegister()" style="cursor: pointer; color: blue; text-decoration: underline;"> Register</label>
    </p-card>
  </form>
  
