<header>
  <h2 class="t1">Un título con un header H2, de color #ff4900 y tamaño de fuente 2rem</h2>
</header>
<p class="p1">Un párrafo con tamaño de fuente 16 pixeles o 1rem, color #0093FF fuente Arial</p>
<p class="p2">Otro párrafo con tamaño de fuente 12 pixeles, color #c500ff y fuente Nerko One, importado desde el CDN de google fonts.</p>
<p class="p3"></p>
<p>Vinculos:</p>
<ul class="l1">
  <li><a href="https://www.youtube.com/">Vinculo 1</a></li>
  <li><a href="https://www.twitch.tv/">Vinculo 2</a></li>
  <li><a href="https://www.reddit.com/">Vinculo 3</a></li>
</ul>
<table class="tab1">
  <thead>
    <tr>
      <th>Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tab1-type1">
      <td>Iphone</td>
      <td>10</td>
      <td>$2.000.000</td>
    </tr>
    <tr class="tab1-type2">
      <td>Mouse</td>
      <td>100</td>
      <td>$50.000</td>
    </tr>
    <tr class="tab1-type1">
      <td>PC Gamer</td>
      <td>2</td>
      <td>$3.000.000</td>
    </tr>
  </tbody>
</table>
<br>
<br>
<!--Segunda Parte-->

<div class="background">
  <div class="header">
    <div class="logo">
      <h2>Logo</h2>
    </div>
    <h2 class="txt">header</h2>
    <div class="search">
      <input type="text" placeholder="Buscador">
    </div>
  </div>
  <div class="contenedor">
  <p style="color: var(--color7); font-family: var(--f1); font-size: 25px; margin: 1px">contenedor</p>
  <div class="body">
    <div class="sidebar">
      <p class="txt">Side-bar</p>
    </div>
    <div class="content">
      <p class="txt">content</p>
    </div>
  </div>
  <div class="footer">
    <p class="txt" style="margin-right: 20px;">Footer</p>
    <div class="footer1">
      <p class="txt">Footer-1</p>
    </div>
    <div class="footer1">
      <p class="txt">Footer-2</p>
    </div>
    <div class="footer1">
      <p class="txt">Footer-3</p>
    </div>
  </div>
</div>
</div>
