@import "primeicons/primeicons.css";

.p-card-body{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, white 70%, gray);
    border: 1px solid
}

.p-button{
    width: 100%;
}